.pl {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.pl-texts{
  width: 65%;
}

.pl-title{
  font-weight: 600;
  font-size: 50px;
}

.pl-desc{
  margin: 20px 0px;
}

.pl-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1224px){
  .pl{
    padding: 30px;
  }
  .pl-texts{
    width: 80%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 660px){
  .pl-title{
    font-size: 40px;
  }
  
}

@media screen and (max-width:515px){
  .pl{
    padding: 10px;
  }
  .pl-texts{
    width: 100%;
  }
  .pl-title{
    font-size: 35px;
  }
  .pl-desc{
    display: none;
  }
}

