:root {
  --gr: #59b256;
}


.a {
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right{
  flex: 1;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 60px;
  background-color: var(--gr);
}
.a-card{
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.a-title{
  font-weight: 400;
}

.a-sub{
  margin: 20px 0px;  
}

.a-desc{
  font-weight: 300;
  width: 80%;
}

.resBtn {
  margin-left: 30px;
}
.resBtn div{
  height: 30px;
  background-color: var(--gr);
  color: white;
  border-radius: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download i{
  padding-left: 10px;
}
.a-right a div{
  transition: all 0.2s;
}
.a-right a  div:hover {
  background-color: green;
}
.a a{
  text-decoration: none;
}
/* .a-right{
  background-color: #59b256;
} */

@media screen and (max-width: 900px){
  .resBtn{
    margin-left: 0px;
  }
  .a-left{
    display: none;
  }
  .a{
    height: 100%;
    text-align: center;
  }
  .a-right{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .a-desc{
    width: 90%;
  }
  .resBtn{
    margin-top: 30px;
  }
}

@media screen and (max-width: 710px){
  .a{
    margin-top: 15%;
  }
}

@media screen and (max-width: 550px){
  .a{
    margin-top: 20%;
  }
}

@media screen and (max-width: 450px){
  .a{
    margin-top: 40%;
  }
}