:root{
  --lightGrey : rgb(236, 233, 233);
}

.p{
  width: 30%;
  height: 250px; 
  transition: all 0.3s;
  margin: 20px 10px;
  border: 2px solid var(--lightGrey);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser{
  height: 20px;
  background-color: var(--lightGrey);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle{
  height: 6px;
  width: 6px;
  background-color: white;
  margin: 3px;
  border-radius: 50%;
}

.p-img{
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img{
  transform: translateY(-100%);
}

@media screen and (max-width: 660px){
  .p{
    width: 230px;
  }
}

@media screen and (max-width:560px){
  .p{
    width: 100%;
  }
}
