:root {
  --gr: #59b256;
}

.i {
  display : flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1;
  height: 100%;
}

.i-left-wrapper{
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name{
  font-size: 60px;
}

.i-title{
  height: 50px;
}

.i-title-item{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: var(--gr);
  display: flex;
  align-items: center;
}

.i-title-wrapper{
  height: 100%;
}

.i-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right-wrapper{
  margin-top: 5rem;
}
.profile{
  background: url("../../image/IMG_1318-01.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0 7px rgb(77, 129, 77);
  order: 1;
  justify-self: center;
  width: 400px;
  height: 500px;
  animation: profile-animate 7s ease-in-out infinite 1s;
}

@keyframes profile-animate {
  0%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.i-icon-wrapper{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.i-icon-wrapper a {
  text-decoration: none;
  margin-right: 15px;
}

.i-icon-wrapper i:hover {
  transform: scale(1.2);
  color: green;
}

.i-icon-wrapper>a>i{
  color: var(--gr);
  transition: all 0.2s;
  font-size: 23px;
}
@media screen and (max-width: 950px){
  .profile{
    width: 300px;
    height: 400px;
  } 
}

@media screen and (max-width: 710px){
  .i{
    flex-direction: column;
    padding-top: 40px;
  }
  .i-desc{
    width: 95%;
  }
  .i-left-wrapper{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .profile{
    width: 300px;
    height: 300px;
  }
  .i-right-wrapper{
    margin-top: 0;
  }
}
